<section class="brands">
    <div class="max__width">
        <swiper [config]="config">
            <ng-template swiperSlide>
                <div class="brand">
                    <img src="../../../assets/images/brands/10.png.webp" alt="brand">
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="brand">
                    <img src="../../../assets/images/brands/12.png.webp" alt="brand">
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="brand">
                    <img src="../../../assets/images/brands/35.png.webp" alt="brand">
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="brand">
                    <img src="../../../assets/images/brands//48.png.webp" alt="brand">
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="brand">
                    <img src="../../../assets/images/brands/49.png.webp" alt="brand">
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="brand">
                    <img src="../../../assets/images/brands/94.png.webp" alt="brand">
                </div>
            </ng-template>
        </swiper>
    </div>
</section>