<div class="overlay" [ngClass]="{active : showLogin}" (click)="closeLogin()"></div>
<div class="login__container" [ngClass]="{active : showLogin}">
    <div class="title">{{ 'LOGIN.title' | translate }}</div>
    <form [formGroup]="loginForm">
        <div class="form__control" [ngClass]="{'error': loginForm.controls['email'].invalid && showError}">
            <input type="text" [placeholder]="'LOGIN.email_placeholder' | translate" formControlName="email">
            <div class="error">{{ 'LOGIN.email_error' | translate }}</div>
        </div>
        <div class="form__control" [ngClass]="{'error': loginForm.controls['password'].invalid && showError}">
            <input type="password" [placeholder]="'LOGIN.password_placeholder' | translate" formControlName="password">
            <div class="error">{{ 'LOGIN.password_error' | translate }}</div>
        </div>
        <div class="info">
            <div class="remember">
                <input type="checkbox">
                {{ 'LOGIN.remember_me' | translate }}
            </div>
            <div class="lost__pass">
                {{ 'LOGIN.lost_password' | translate }}
            </div>
        </div>
        <app-secondary-btn [textBtn]="'LOGIN.sign_in_btn' | translate" [isFull]="true" [isLoading]="isLoading"
            (onClick)="login()"></app-secondary-btn>
        <app-primary-btn [textBtn]="'LOGIN.create_account_btn' | translate" theme="dark" [isFull]="true"
            [isLarge]="true" (onClick)="register()"></app-primary-btn>
    </form>
</div>