<div class="overlay" [ngClass]="{active : showLogin}" (click)="closeLogin()"></div>
<div class="login__container" [ngClass]="{active : showLogin}">
    <div class="title">Sign In</div>
    <form [formGroup]="loginForm">
        <input type="text" placeholder="Your email" formControlName="email">
        <input type="password" placeholder="Your password" formControlName="password">
        <div class="info">
            <div class="remember">
                <input type="checkbox">
                Remember me
            </div>
            <div class="lost__pass">
                Lost your password ?
            </div>
        </div>
        <app-secondary-btn textBtn="Sign In" [isFull]="true" [isLoading]="isLoading"
            (onClick)="login()"></app-secondary-btn>
        <app-primary-btn textBtn="Create an accout" theme="dark" [isFull]="true" [isLarge]="true"
            (onClick)="register()"></app-primary-btn>
    </form>
</div>