@use "../../../styles/variables";
@use "../../../styles/mixins";

.product__cart {
    padding: 10px 20px;
    display: flex;
    gap: 20px;

    .img__container {
        width: 70px;
        height: 70px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }


    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .name,
        .price {
            font-size: 14px;
            line-height: 16px;
        }

        .price {
            @include mixins.body3;
            margin-top: 2px;
            font-weight: 600;
            font-family: variables.$font-stack2;
            display: flex;
            gap: 10px;

            &.sold {
                align-items: center;

                .init__price {
                    margin-top: 1px;
                    font-size: 10px;
                    text-decoration: line-through;
                }

                .sold__price {
                    color: variables.$primary-color1;
                }
            }
        }

        .qty {
            font-family: variables.$font-stack2;
            @include mixins.body3;
            color: variables.$gray-color2;
            margin-bottom: 3px;
        }
    }

    .close {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .icon_container {
            cursor: pointer;
        }
    }
}