@use "../../../styles/variables";

.secondary__btn {
    position: relative;
    padding: 10px 24px;
    background-color: black;
    border: 1px solid black;
    text-transform: uppercase;
    font-family: variables.$font-stack;
    letter-spacing: 1px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition: .3s ease-in-out;
    width: 100%;
    max-width: 240px;


    &:hover {
        background: variables.$primary-color1;
        border: 1px solid variables.$primary-color1;
    }

    &.full{
        max-width: 100%;
    }

}