<section class="cart">
    <div class="breadcrumb">
        <div class="title">{{ 'CART.breadcrumb_title' | translate }}</div>
        <ul>
            <li>{{ 'CART.breadcrumb_home' | translate }}</li>
            <li>{{ 'CART.breadcrumb_cart' | translate }}</li>
        </ul>
    </div>
    <div class="max__width" *ngIf="productsCart && productsCart!.length > 0">
        <div class="tabs">
            <div class="tab" [ngClass]="{'active' : activeTab == '' }">{{ 'CART.tab_shopping_cart' | translate }}</div>
            <div class="tab" [ngClass]="{'active' : activeTab == 'checkout' }">{{ 'CART.tab_checkout' | translate }}
            </div>
            <div class="tab" [ngClass]="{'active' : activeTab == 'tracking' }">{{ 'CART.tab_order_tracking' | translate
                }}</div>
        </div>
        <div class="container" [ngSwitch]="activeTab">
            <app-tab1 *ngSwitchCase="''" [productsCart]="productsCart" (switchTabs)="switchTabs($event)"
                [cartTotal]="calculTotal()" />
            <app-tab2 *ngSwitchCase="'checkout'" [productsCart]="productsCart" (switchTabs)="switchTabs($event)"
                [cartTotal]="calculTotal()" />
            <app-tab3 *ngSwitchCase="'tracking'" />
        </div>
    </div>
    <div class="max__width" *ngIf="productsCart && productsCart!.length <= 0">
        <div class="empty__container">
            <div [svgIcon]="'empty_cart'" size="140"></div>
            <div class="text">{{ 'CART.empty_cart_message' | translate }}</div>
            <div class="btn__container">
                <app-secondary-btn [textBtn]="'CART.return_to_shop_btn' | translate" (onClick)="returnToshop()" />
            </div>
        </div>
    </div>
</section>