<nav>
    <div class="max__width">
        <div class="container">
            <div class="logo__container">
                <img src="../../../assets/images/Logo-dark-1.png.webp" alt="logo">
            </div>
            <ul class="menu">
                <li>Home</li>
                <li>Sneakers</li>
                <li>Underware</li>
                <li>Boxs</li>
                <li>Contact</li>
            </ul>
            <div class="icons">
                <div svgIcon="Search_alt"></div>
                <div svgIcon="Bag"></div>
                <div svgIcon="User"></div>
            </div>
        </div>
    </div>
</nav>