@use "../../../styles/variables";
@use "../../../styles/mixins";

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: white;
    border-bottom: 1px solid transparent;
    transition: .3s ease-in-out;

    .header {
        width: 100%;
        font-family: variables.$font-stack2;
        background: black;
        color: white;
        font-size: 10px;
        transition: .5s ease;
        height: 28px;


        .container__header {
            display: flex;
            justify-content: space-between;

            .pub {
                display: flex;
                gap: 10px;
                align-items: center;

                .icon__container {
                    padding-top: 4px;
                    fill: white;
                }
            }

            .info {
                display: flex;
                align-items: center;
                gap: 10px;

                .email {
                    display: flex;
                    align-items: center;
                    gap: 6px;

                    .icon__container {
                        padding-top: 8px;
                    }
                }
            }

            .divider {
                width: 1px;
                height: 50%;
                background: #ccc;
            }

            select {
                background: transparent;
                color: white;
                border: none;
                font-size: 10px;

                option {
                    color: black;
                    font-size: 12px;
                }
            }
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        transition: .3s ease-in-out;

        .logo__container {
            width: 100px;
            cursor: pointer;
            display: flex;
            align-items: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 30px;

            li {
                font-size: 14px;
                letter-spacing: 1px;
                cursor: pointer;
            }

            select,
            .close__icon {
                display: none;
            }
        }

        .icons {
            display: flex;
            gap: 15px;
            align-items: center;

            .icon__container {
                position: relative;
                stroke: black;
                cursor: pointer;

                &.menu__icon {
                    display: none;
                }

                .badge {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 14px;
                    height: 14px;
                    border-radius: 100%;
                    background: black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: variables.$error-color;
                    color: white;
                    padding-top: 1px;
                    font-size: 8px;
                    font-weight: 600;
                    font-family: variables.$font-stack2;
                }

                .user__menu {
                    position: absolute;
                    top: 30px;
                    right: 0px;
                    background: white;
                    border-radius: 2px;
                    z-index: 11;
                    max-width: 400px;
                    min-width: 200px;
                    transform: scale(0);
                    transition: 0.15s ease-in-out;
                    transform-origin: top right;
                    font-family: variables.$font-stack4;

                    &.active {
                        transform: scale(1);
                    }

                    .info {
                        display: flex;
                        gap: 10px;
                        padding: 20px 15px;
                        border-bottom: 1px solid #f1f1f1;

                        .avatar {
                            width: 40px;
                            height: 40px;
                            border-radius: 100%;
                            overflow: hidden;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }

                        .username__email {
                            font-size: 14px;
                            line-height: 14px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            gap: 2px;

                            .username {
                                font-weight: 500;
                            }

                            .email {
                                font-size: 11px;
                                color: variables.$gray-color1;
                                font-weight: 300;
                            }
                        }
                    }

                    .menu {
                        padding: 10px 0;
                        font-size: 14px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0;

                        li {
                            padding: 6px 15px;
                            cursor: pointer;
                            transition: 0.3s ease;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            width: 100%;
                            letter-spacing: 0px;
                            font-size: 13px;

                            .icon__container {
                                display: flex;
                                align-items: center;
                            }

                            &:hover {
                                background: #f1f1f1;
                            }

                            &.logout {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }

    &.scrolled {

        .header {
            padding: 0;
            height: 0;

            .container__header {
                opacity: 0;
            }
        }

        border-bottom: 1px solid #ccc;

        .container {
            padding: 20px 0;
        }
    }

    .overlay {
        width: 100vw;
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        display: none;

        &.active {
            display: block;
        }
    }
}

/* responsive style */

@media screen and (max-width: 996px) {

    nav {
        .container {
            .menu {
                position: fixed;
                top: 0;
                right: -100%;
                background: white;
                z-index: 9999;
                flex-direction: column;
                width: 70vw;
                max-width: 400px;
                min-width: 280px;
                height: 100dvh;
                align-items: flex-start;
                gap: 20px;
                padding: 100px 40px;
                transition: .3s ease-in-out;

                li {
                    font-size: 16px;

                    select {
                        display: block;
                    }
                }

                &.active {
                    right: 0;
                }

                .close__icon {
                    display: block;
                    position: absolute;
                    top: 40px;
                    right: 20px;
                }
            }

            .icons {

                .icon__container {
                    &:not(.menu__icon) {
                        display: none;
                    }

                    &.menu__icon {
                        display: block;
                    }
                }
            }
        }

        .header {
            padding: 0;
            height: 0;

            .container__header {
                opacity: 0;
            }
        }
    }
}