/* responsive style */

@media screen and (max-width: 996px) {

    nav {
        .container {
            .menu {
                position: fixed;
                top: 0;
                right: -100%;
                background: white;
                z-index: 9999;
                flex-direction: column;
                width: 70vw;
                max-width: 400px;
                min-width: 280px;
                height: 100dvh;
                align-items: flex-start;
                gap: 20px;
                padding: 100px 40px;
                transition: .3s ease-in-out;

                li {
                    font-size: 16px;

                    select {
                        display: block;
                    }
                }

                &.active {
                    right: 0;
                }

                .close__icon {
                    display: block;
                    position: absolute;
                    top: 40px;
                    right: 20px;
                }
            }

            .icons {

                .icon__container {
                    &.search {
                        display: none;
                    }

                    &.menu__icon {
                        display: block;
                    }
                }
            }
        }

        .header {
            padding: 0;
            height: 0;

            .container__header {
                opacity: 0;
            }
        }
    }
}