@use "../../../styles/variables";
@use "../../../styles/mixins";

.card {
    overflow: hidden;
    cursor: pointer;

    .img__container {
        position: relative;
        aspect-ratio: 5/6;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info__container {
            position: absolute;
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .hot,
            .sale {
                padding: 4px 8px;
                color: white;
                font-family: variables.$font-stack2;
                font-size: 8px;
                font-weight: 600;
                line-height: 8px;
                text-transform: uppercase;
                background-color: #ff6f00;
                width: max-content;
            }

            .sale {
                background-color: #ff4646;
            }
        }

        .icons__container {
            position: absolute;
            top: 50%;
            right: -100%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            gap: 6px;
            transition: 0.3s ease-in-out;

            .icon__container {
                background-color: white;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                stroke: black;
                transition: .3s ease-in-out;

                &:hover {
                    background-color: #ff4646;
                    stroke: white;
                    stroke-width: 1px;

                }
            }
        }


    }

    .content {
        position: relative;
        margin-top: 10px;

        .info__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .category {

                @include mixins.body3;
                color: variables.$gray-color2;
                line-height: 10px
            }
        }

        .name {
            @include mixins.body2;
            text-transform: uppercase;
            font-weight: 500;
        }

        .price {
            @include mixins.body3;
            margin-top: 2px;
            font-weight: 500;
            font-family: variables.$font-stack2;
        }

        .add__tocart {
            position: absolute;
            left: 0;
            bottom: -100%;
            background-color: white;
            border: none;
            @include mixins.body3;
            text-transform: uppercase;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 4px;
            transition: all .3s ease;
            z-index: 2;
            cursor: pointer;

            .icon__container {
                stroke: black;
                transition: .3s ease-in-out;
            }

            &:hover {
                color: variables.$primary-color1;

                .icon__container {
                    stroke: variables.$primary-color1;
                }
            }
        }
    }

    &:hover {

        .content {

            .add__tocart {
                bottom: -6px;
            }
        }

        .img__container {

            .icons__container {
                right: 10px !important;
            }

        }


    }
}