<div class="overlay"></div>
<section class="newsletter__popin">
    <div class="container">
        <div class="left__side">
            <div class="close__icon" svgIcon="Close_round_light"></div>
            <div class="title">Get 20% discount shipped to your inbox</div>
            <div class="text">
                Subscribe to our newlletter and we will ship 20% discount code today
            </div>
            <div class="inputs__container">
                <input type="text" placeholder="Your email here...">
                <app-secondary-btn textBtn="Subscribe"></app-secondary-btn>

            </div>
        </div>
        <div class="right__side">
            <img src="../../../assets/images/newlester.jpg.webp" alt="">
        </div>
    </div>
</section>