@use "../../../styles/variables";
@use "../../../styles/mixins";

.newsletter {
    margin-top: 100px;
    background: #f6f6f6;
    padding: 40px 0;

    .container {
        display: grid;
        grid-template-columns: .8fr 1fr;
        gap: 60px;

        .left__side {
            .title {
                @include mixins.headline3;

                span {
                    color: variables.$primary-color1;
                }
            }

            .text {
                margin-top: 8px;
                @include mixins.body3;
                font-family: variables.$font-stack2;
                color: variables.$gray-color2;
            }
        }

        .right__side {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}