<section class="newsletter">
    <div class="max__width">
        <div class="container">
            <div class="left__side">
                <div class="title">
                    SUBSCRIBE <br>
                    FOR NEWSLETTER<span>.</span>
                </div>
                <div class="text">Sign up for our newsletter and stay up-to-date with the latest collection, the latest
                    trends and the best deals!
                </div>
            </div>
            <div class="right__side">
                <input type="text" placeholder="Your email here">
                <app-primary-btn textBtn="Send" theme="dark"></app-primary-btn>
            </div>
        </div>
    </div>
</section>