<div class="collections2">
    <div class="max__width">
        <div class="container">
            <div class="card">
                <div class="content">
                    <img src="../../../assets/images/img4-3.jpg.webp" alt="collection">
                    <div class="title">
                        {{'HOME.collection2.card1.title' | translate}}
                    </div>
                    <app-primary-btn [textBtn]="'HOME.collection2.card1.btn_text' | translate" theme="dark"></app-primary-btn>
                </div>
            </div>
            <div class="card__container">
                <div class="card__title">
                    COL <br>
                    -LECTION<span>.</span>
                </div>
                <div class="card square">
                    <div class="content">
                        <img src="../../../assets/images/img4-4.jpg.webp" alt="collection">
                        <div class="title">
                            {{'HOME.collection2.card2.title' | translate}}
                        </div>
                        <app-primary-btn [textBtn]="'HOME.collection2.card1.btn_text' | translate" theme="dark"></app-primary-btn>
                    </div>
                </div>
            </div>
            <div class="card square">
                <div class="content">
                    <img src="../../../assets/images/img4-5.jpg.webp" alt="collection">
                    <div class="title">
                        {{'HOME.collection2.card3.title' | translate}}
                    </div>
                    <app-primary-btn [textBtn]="'HOME.collection2.card1.btn_text' | translate" theme="dark"></app-primary-btn>
                </div>
            </div>
        </div>
    </div>
</div>