<div class="collections2">
    <div class="max__width">
        <div class="container">
            <div class="card">
                <div class="content">
                    <img src="../../../assets/images/img4-3.jpg.webp" alt="collection">
                    <div class="title">
                        MENS
                    </div>
                    <app-primary-btn textBtn="Shop collection" theme="dark"></app-primary-btn>
                </div>
            </div>
            <div class="card__container">
                <div class="card__title">
                    COL <br>
                    -LECTION<span>.</span>
                </div>
                <div class="card square">
                    <div class="content">
                        <img src="../../../assets/images/img4-4.jpg.webp" alt="collection">
                        <div class="title">
                            WOMENS
                        </div>
                        <app-primary-btn textBtn="Shop collection" theme="dark"></app-primary-btn>
                    </div>
                </div>
            </div>
            <div class="card square">
                <div class="content">
                    <img src="../../../assets/images/img4-5.jpg.webp" alt="collection">
                    <div class="title">
                        ACCESSORIES
                    </div>
                    <app-primary-btn textBtn="Shop collection" theme="dark"></app-primary-btn>
                </div>
            </div>
        </div>
    </div>
</div>