@use "../../../styles/variables";
@use "../../../styles/mixins";

.categories {
    margin-top: 100px;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .categories__list {
            display: flex;
            gap: 20px;

            li {
                position: relative;
                @include mixins.body1;
                cursor: pointer;

                &::after {
                    content: "";
                    width: 0;
                    height: 1px;
                    background: #ff3535;
                    bottom: -4px;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    transition: all .3s ease;
                }

                &:hover::after,
                &.active::after {
                    width: 100%;
                }

            }
        }

        .navigations {
            display: flex;
            gap: 10px;

            button {
                background-color: transparent;
                border: 1px solid black;
                padding: 2px 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .3s ease;

                div {
                    height: 16px;
                }

                &:not(:disabled):hover {
                    background-color: black;
                    border: 1px solid black;
                    cursor: pointer;

                    .svg__icon__container {
                        fill: white;
                    }
                }

                &:disabled {
                    border: 1px solid variables.$gray-color2;

                    .svg__icon__container {
                        fill: variables.$gray-color2;
                    }
                }
            }
        }
    }

    .container {
        margin-top: 40px;
    }
    
    .loader {
        margin-top: 40px;
    }
}

/* Responsive style */

@media screen and (max-width: 450px) {
    .categories {
        .header {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);



            .categories__list, 
            .navigations {
                justify-content: center;
            }

            .navigations {
                margin-top: 20px;
            }
        }
    }
}