<section class="categories">
    <div class="max__width">
        <div class="header">
            <ul class="categories__list">
                <li [ngClass]="{active : activeCategory == 'topRating'}" (click)="handleClickCat('topRating')">
                    {{'HOME.categories.item1' | translate}}</li>
                <li [ngClass]="{active : activeCategory == 'bestSelling'}" (click)="handleClickCat('bestSelling')">
                    {{'HOME.categories.item2' | translate}}</li>
                <li [ngClass]="{active : activeCategory == 'featured'}" (click)="handleClickCat('featured')">
                    {{'HOME.categories.item3' | translate}}</li>
            </ul>
            <div class="navigations" dir="ltr">
                <button (click)="prevSlide()" [disabled]="isPrevDisabled">
                    <div class="svg__icon__container" svgIcon="arrow-left" size="16"></div>
                </button>
                <button (click)="nextSlide()" [disabled]="isNextDisabled">
                    <div class="svg__icon__container" svgIcon="arrow-right" size="16"></div>
                </button>
            </div>
        </div>
        <div class="container" *ngIf="!isLoading">
            <swiper #swiper [config]="config" dir="ltr">
                <ng-template swiperSlide *ngFor="let product of products">
                    <app-product-card [product]="product"></app-product-card>
                </ng-template>
            </swiper>
        </div>
        <div class="loader" *ngIf="isLoading">
            <swiper #swiper [config]="config">
                <ng-template swiperSlide *ngFor="let items of [0, 1, 2]">
                    <app-product-card-skeleton />
                </ng-template>
            </swiper>
        </div>
        <div class="btn__container" *ngIf="!isLoading">
            <app-primary-btn [textBtn]="'View all Porducts'" theme="dark"
                (onClick)="naviagteToAllProduct()"></app-primary-btn>
        </div>
    </div>
</section>