/* responsive style */

@media screen and (max-width: 1600px) {
    .products {
        grid-template-columns: repeat(3, 1fr) !important;

        &.inline {
            grid-template-columns: 1fr !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    .products {
        grid-template-columns: repeat(2, 1fr) !important;

        &.inline {
            grid-template-columns: 1fr !important;
        }
    }
}

@media screen and (max-width: 992px) {

    .shop {
        margin-top: 95px;
        min-height: calc(100vh - 95px);

        .container {
            grid-template-columns: 1fr;

            .filtre {
                display: none;
            }

            .products {
                grid-template-columns: repeat(3, 1fr) !important;

                &.inline {
                    grid-template-columns: 1fr !important;
                }
            }
        }

    }
}

@media screen and (max-width: 768px) {
    .shop {
        .container {
            .products {
                grid-template-columns: repeat(2, 1fr) !important;

                &.inline {
                    grid-template-columns: 1fr !important;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .shop {
        .container {
            .products {
                grid-template-columns: 1fr !important;

                &.inline {
                    grid-template-columns: 1fr !important;
                }
            }
        }
    }
}