<section class="shop" [@pageTransitions]>
    <div class="breadcrumb">
        <div class="title">Shop</div>
        <ul>
            <li>Home</li>
            <li>Shop</li>
        </ul>
    </div>
    <div class="max__width">
        <div class="container">
            <div class="filtre">
                <div class="filtre__container">
                    <div class="item">
                        <div class="title">
                            Categories
                        </div>
                        <ul>
                            <li [ngClass]="{'active' : activeCategory === 'all'}" (click)="setCategory('all')">
                                All
                                <div class="number">{{getCategoryLength('all')}}</div>
                            </li>
                            <li [ngClass]="{'active' : activeCategory === 'fitness'}" (click)="setCategory('fitness')">
                                Fitness
                                <div class="number">{{getCategoryLength('fitness')}}</div>
                            </li>
                            <li [ngClass]="{'active' : activeCategory === 'footwear'}"
                                (click)="setCategory('footwear')">
                                Footwear
                                <div class="number">{{getCategoryLength('footwear')}}</div>
                            </li>
                            <li [ngClass]="{'active' : activeCategory === 'mens'}" (click)="setCategory('mens')">
                                Mens
                                <div class="number">{{getCategoryLength('mens')}}</div>
                            </li>
                            <li [ngClass]="{'active' : activeCategory === 'womens'}" (click)="setCategory('womens')">
                                Womens
                                <div class="number">{{getCategoryLength('womens')}}</div>
                            </li>
                            <li [ngClass]="{'active' : activeCategory === 'kids'}" (click)="setCategory('kids')">
                                Kids
                                <div class="number">{{getCategoryLength('kids')}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="title">
                            Price
                        </div>
                        <input type="range" [min]="productMinPrice" [max]="productMaxPrice" [value]="maxPrice" [step]="50"
                            (change)="setMaxPrice($event)">
                        <div class="info">
                            <span>Range</span> : ${{productMinPrice}} - ${{maxPrice}}
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            Color
                        </div>
                        <div class="colors">
                            <div class="color" style="background: #cc7b4a;"></div>
                            <div class="color" style="background: #313131;"></div>
                            <div class="color" style="background: #2c484f;"></div>
                            <div class="color" style="background: #dd3333;"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">Size</div>
                        <div class="sizes">
                            <div class="size">S</div>
                            <div class="size">M</div>
                            <div class="size">L</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products__container">
                <div class="header">
                    <div class="info">
                        Showing all {{showedProducts.length}} results
                    </div>
                    <div class="sorting__grid">
                        <div class="grid">
                            <div class="icon__container" svgIcon="Appstore" size="14"></div>
                            <div class="icon__container" svgIcon="Bars" size="14"></div>
                        </div>
                        <select (change)="setSort($event)">
                            <option value="default">Default Sorting</option>
                            <option value="by_name">Sort by name</option>
                            <option value="by_price_desc">Sort by price Desc</option>
                            <option value="by_price_asc">Sort by price Asc</option>
                        </select>
                    </div>
                </div>
                <div class="products" *ngIf="!isLoading">
                    <app-product-card *ngFor="let product of showedProducts" [product]="product"></app-product-card>
                </div>
                <div class="products" *ngIf="isLoading">
                    <app-product-card-skeleton *ngFor="let items of [0, 1, 2]" />
                </div>
            </div>
        </div>
    </div>
</section>