<section class="shop" [@pageTransitions]>
    <div class="breadcrumb">
        <div class="title">{{ 'PLP.breadcrumb.title2' | translate }}</div>
        <ul>
            <li>{{ 'PLP.breadcrumb.title1' | translate }}</li>
            <li>{{ 'PLP.breadcrumb.title2' | translate }}</li>
        </ul>
    </div>
    <div class="max__width">
        <div class="container">
            <div class="filtre">
                <div class="filtre__container" [ngClass]="{active : showFilter}">
                    <div class="item">
                        <div class="title">
                            {{ 'PLP.filter.categories' | translate }}
                        </div>
                        <ul>
                            <li [ngClass]="{'active' : activeCategory === 'all'}" (click)="setCategory('all')">
                                {{ 'PLP.filter.all' | translate }}
                                <div class="number">{{getCategoryLength('all')}}</div>
                            </li>
                            <li [ngClass]="{'active' : activeCategory === 'fitness'}" (click)="setCategory('fitness')">
                                {{ 'PLP.filter.fitness' | translate }}
                                <div class="number">{{getCategoryLength('fitness')}}</div>
                            </li>
                            <li [ngClass]="{'active' : activeCategory === 'footwear'}"
                                (click)="setCategory('footwear')">
                                {{ 'PLP.filter.footwear' | translate }}
                                <div class="number">{{getCategoryLength('footwear')}}</div>
                            </li>
                            <li [ngClass]="{'active' : activeCategory === 'mens'}" (click)="setCategory('mens')">
                                {{ 'PLP.filter.mens' | translate }}
                                <div class="number">{{getCategoryLength('mens')}}</div>
                            </li>
                            <li [ngClass]="{'active' : activeCategory === 'womens'}" (click)="setCategory('womens')">
                                {{ 'PLP.filter.womens' | translate }}
                                <div class="number">{{getCategoryLength('womens')}}</div>
                            </li>
                            <li [ngClass]="{'active' : activeCategory === 'kids'}" (click)="setCategory('kids')">
                                {{ 'PLP.filter.kids' | translate }}
                                <div class="number">{{getCategoryLength('kids')}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="item">
                        <div class="title">
                            {{ 'PLP.filter.price' | translate }}
                        </div>
                        <input type="range" [min]="productMinPrice" [max]="productMaxPrice" [value]="maxPrice"
                            [step]="50" (change)="setMaxPrice($event)">
                        <div class="info">
                            <span>{{ 'PLP.filter.range' | translate }}</span> : ${{productMinPrice}} - ${{maxPrice}}
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">
                            {{ 'PLP.filter.color' | translate }}
                        </div>
                        <div class="colors">
                            <div class="color" style="background: #cc7b4a;"></div>
                            <div class="color" style="background: #313131;"></div>
                            <div class="color" style="background: #2c484f;"></div>
                            <div class="color" style="background: #dd3333;"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="title">{{ 'PLP.filter.size' | translate }}</div>
                        <div class="sizes">
                            <div class="size">S</div>
                            <div class="size">M</div>
                            <div class="size">L</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products__container">
                <div class="header">
                    <div class="info">
                        <div class="icon__container filter" svgIcon="filter_outline" size="14"
                            (click)="handleShowFilter(true)" color="black"></div>
                        {{ 'PLP.results.showing' | translate }} {{ showedProducts.length }} {{ 'PLP.results.results' |
                        translate }}
                    </div>
                    <div class="sorting__grid">
                        <div class="grid">
                            <div class="icon__container" svgIcon="Appstore" size="14"
                                [ngClass]="{'active' : shopType == 'shopType1'}" (click)="setShopType('shopType1')">
                            </div>
                            <div class="icon__container" svgIcon="Bars" size="14"
                                [ngClass]="{'active' : shopType == 'shopType2'}" (click)="setShopType('shopType2')">
                            </div>
                        </div>
                        <select (change)="setSort($event)">
                            <option value="default">Default Sorting</option>
                            <option value="by_name">Sort by name</option>
                            <option value="by_price_desc">Sort by price Desc</option>
                            <option value="by_price_asc">Sort by price Asc</option>
                        </select>
                    </div>
                </div>
                <div class="products" [ngClass]="{'inline' : shopType == 'shopType2'}" *ngIf="!isLoading">
                    <ng-container *ngIf="shopType == 'shopType1'">
                        <app-product-card *ngFor="let product of showedProducts" [product]="product"></app-product-card>
                    </ng-container>
                    <ng-container *ngIf="shopType == 'shopType2'">
                        <app-product-card3 *ngFor="let product of showedProducts"
                            [product]="product"></app-product-card3>
                    </ng-container>
                </div>
                <div class="products" *ngIf="isLoading">
                    <app-product-card-skeleton *ngFor="let items of [0, 1, 2]" />
                </div>
                <div class="more__btn" *ngIf="!isLoading && hasNextPage">
                    <button (click)="loadMoreProducts()">Load more</button>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay" [ngClass]="{active : showFilter}" (click)="handleShowFilter(false)"></div>
</section>