<section class="collections">
    <div class="max__width">
        <div class="main__title">
            <div class="title">New Collections</div>
            <div class="subtitle">Discover the Trendsetters: Unveiling a World of Exciting New Collections</div>
        </div>
        <div class="container">
            <div class="card">
                <div class="content">
                    <img src="../../../assets/images/img4-1.jpg.webp" alt="collection">
                    <div class="title">
                        THE ADAPT FAMILY
                    </div>
                    <app-primary-btn textBtn="Shop collection"></app-primary-btn>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <img src="../../../assets/images/img4-2.jpg.webp" alt="collection">
                    <div class="title">
                        THE ADAPT FAMILY
                    </div>
                    <app-primary-btn textBtn="Shop collection"></app-primary-btn>
                </div>
            </div>
        </div>
    </div>
</section>