<section class="collections">
    <div class="max__width">
        <div class="main__title">
            <div class="title">{{ 'HOME.collection.title' | translate }}</div>
            <div class="subtitle">{{ 'HOME.collection.subtitle' | translate }}</div>
        </div>
        <div class="container">
            <div class="card">
                <div class="content">
                    <img src="../../../assets/images/img4-1.jpg.webp" alt="collection">
                    <div class="title">
                        {{ 'HOME.collection.card1.title' | translate }}
                    </div>
                    <app-primary-btn [textBtn]="'HOME.collection.card2.btn_text' | translate"></app-primary-btn>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <img src="../../../assets/images/img4-2.jpg.webp" alt="collection">
                    <div class="title">
                        {{ 'HOME.collection.card2.title' | translate }}
                    </div>
                    <app-primary-btn [textBtn]="'HOME.collection.card2.btn_text' | translate"></app-primary-btn>
                </div>
            </div>
        </div>
    </div>
</section>