<div class="tab2">
    <div class="tab__container">
        <div class="form__container">
            <div class="title">Payment details</div>
            <form>
                <div class="form__control">
                    <label for="email">Email address</label>
                    <input type="text" id="email">
                </div>
                <div class="form__control">
                    <label for="cardNumber">Card Number</label>
                    <input type="text" id="cardNumber">
                </div>
                <div class="row">
                    <div class="form__control">
                        <label for="expiryDate">Expiry date</label>
                        <input type="text" id="expiryDate">
                    </div>
                    <div class="form__control">
                        <label for="cvv">Cvv</label>
                        <input type="text" id="cvv">
                    </div>
                </div>
                <div class="form__control checkbox">
                    <input type="checkbox" id="promoCode" (change)="onPromoCode($event)">
                    <label for="promoCode">I've a promo code</label>
                </div>
                <div class="form__control" *ngIf="hasPromoCode">
                    <label for="promoCode">Promo Code</label>
                    <input type="text" id="promoCode">
                </div>
            </form>
        </div>
        <div class="cart__info">
            <div class="header">
                <div class="title">Cart totals</div>
            </div>
            <div class="body">
                <div class="row">
                    <div class="title">Subtotal</div>
                    <div class="value">${{cartTotal.toFixed(2)}}</div>
                </div>
                <div class="row">
                    <div class="title">Shipping</div>
                    <div class="value">Free shipping</div>
                </div>
                <div class="row">
                    <div class="title">Total</div>
                    <div class="value">${{cartTotal.toFixed(2)}}</div>
                </div>
                <div class="btn__container">
                    <app-secondary-btn [isFull]="true" textBtn="Place Order" (onClick)="onPlaceOrder()" />
                </div>
            </div>
        </div>
    </div>
</div>