<div class="tab2">
    <div class="tab__container">
        <div class="form__container">
            <div class="title">{{ 'CART.tab2.payment_details_title' | translate }}</div>
            <form [formGroup]="orderForm">
                <div class="form__control" [ngClass]="{'error': orderForm.controls['email'].invalid && showError}">
                    <label for="email">{{ 'CART.tab2.email_label' | translate }}</label>
                    <input type="text" id="email" formControlName="email">
                    <div class="error">{{ 'CART.tab2.email_error' | translate }}</div>
                </div>
                <div class="form__control" [ngClass]="{'error': orderForm.controls['cardNumber'].invalid && showError}">
                    <label for="cardNumber">{{ 'CART.tab2.card_number_label' | translate }}</label>
                    <input type="text" id="cardNumber" formControlName="cardNumber">
                    <div class="error">{{ 'CART.tab2.cardNumber_error' | translate }}</div>
                </div>
                <div class="row">
                    <div class="form__control" [ngClass]="{'error': orderForm.controls['expiryDate'].invalid && showError}">
                        <label for="expiryDate">{{ 'CART.tab2.expiry_date_label' | translate }}</label>
                        <input type="text" id="expiryDate" formControlName="expiryDate">
                        <div class="error">{{ 'CART.tab2.expiryDate_error' | translate }}</div>
                    </div>
                    <div class="form__control" [ngClass]="{'error': orderForm.controls['cvv'].invalid && showError}">
                        <label for="cvv">{{ 'CART.tab2.cvv_label' | translate }}</label>
                        <input type="text" id="cvv" formControlName="cvv">
                        <div class="error">{{ 'CART.tab2.cvv_error' | translate }}</div>
                    </div>
                </div>
                <div class="form__control checkbox">
                    <input type="checkbox" id="promoCode" (change)="onPromoCode($event)">
                    <label for="promoCode">{{ 'CART.tab2.promo_code_label' | translate }}</label>
                </div>
                <div class="form__control" *ngIf="hasPromoCode">
                    <label for="promoCode">{{ 'CART.tab2.promo_code_input_placeholder' | translate }}</label>
                    <input type="text" id="promoCode" formControlName="promoCode">
                </div>
            </form>
        </div>
        <div class="cart__info">
            <div class="sticky__container">
                <div class="header">
                    <div class="title">{{ 'CART.cart_total' | translate }}</div>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="title">{{ 'CART.tab1.subtotal' | translate }}</div>
                        <div class="value">${{ cartTotal.toFixed(2) }}</div>
                    </div>
                    <div class="row">
                        <div class="title">{{ 'CART.tab1.shipping' | translate }}</div>
                        <div class="value">{{ 'CART.tab1.shipping_value' | translate }}</div>
                    </div>
                    <div class="row">
                        <div class="title">{{ 'CART.tab1.total' | translate }}</div>
                        <div class="value">${{ cartTotal.toFixed(2) }}</div>
                    </div>
                    <div class="btn__container">
                        <app-secondary-btn [isFull]="true" [textBtn]="'CART.tab1.place_order_btn' | translate"
                            (onClick)="handlePlaceOrder()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-login-alert *ngIf="showAlert" (closeAlert)="closeAlert()" />