<footer>
    <div class="max__width">
        <div class="list">
            <div>
                <div class="item">
                    <div class="item__title">{{ 'FOOTER.contact.title' | translate}}</div>
                    <ul>
                        <li>9 Oklahoma St.</li>
                        <li>Palos Verdes Peninsula, CA 90274</li>
                        <li>(+3) 07-996-8947</li>
                        <li>support&#64;areno.com</li>
                    </ul>
                </div>
                <div class="item two">
                    <div class="item__title">{{ 'FOOTER.working_hours.title' | translate}}</div>
                    <ul>
                        <li>{{ 'FOOTER.working_hours.item1' | translate}}</li>
                        <li>09.00 – 21.00</li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="item__title">{{ 'FOOTER.services.title' | translate}}</div>
                <ul>
                    <li>{{ 'FOOTER.services.item1' | translate}}</li>
                    <li>{{ 'FOOTER.services.item2' | translate}}</li>
                    <li>{{ 'FOOTER.services.item3' | translate}}</li>
                    <li>{{ 'FOOTER.services.item4' | translate}}</li>
                    <li>{{ 'FOOTER.services.item5' | translate}}</li>
                    <li>{{ 'FOOTER.services.item6' | translate}}</li>
                </ul>
            </div>
            <div class="item">
                <div class="item__title">{{ 'FOOTER.connect.title' | translate}}</div>
                <ul>
                    <li>{{ 'FOOTER.connect.item1' | translate}}</li>
                    <li>{{ 'FOOTER.connect.item2' | translate}}</li>
                    <li>{{ 'FOOTER.connect.item3' | translate}}</li>
                    <li>{{ 'FOOTER.connect.item4' | translate}}</li>
                    <li>{{ 'FOOTER.connect.item5' | translate}}</li>
                    <li>{{ 'FOOTER.connect.item6' | translate}}</li>
                </ul>
            </div>
            <div class="item">
                <div class="item__title">{{ 'FOOTER.get_help.title' | translate}}</div>
                <ul>
                    <li>{{ 'FOOTER.get_help.item1' | translate}}</li>
                    <li>{{ 'FOOTER.get_help.item2' | translate}}</li>
                    <li>{{ 'FOOTER.get_help.item3' | translate}}</li>
                    <li>{{ 'FOOTER.get_help.item4' | translate}}</li>
                    <li>{{ 'FOOTER.get_help.item5' | translate}}</li>
                    <li>{{ 'FOOTER.get_help.item6' | translate}}</li>
                </ul>
            </div>
        </div>
        <div class="sub__footer">
            <div class="logo__container">
                <img src="../../../assets//images/logo2.webp" alt="">
            </div>
            <div class="icons">
                <div class="icon__container" svgIcon="Twitter - Negative" size="14"></div>
                <div class="icon__container" svgIcon="Instagram - Negative" size="14"></div>
                <div class="icon__container" svgIcon="Facebook - Negative" size="14"></div>
                <div class="icon__container" svgIcon="YouTube - Negative" size="14"></div>
            </div>
        </div>
    </div>
</footer>