<footer>
    <div class="max__width">
        <div class="list">
            <div>
                <div class="item">
                    <div class="item__title">Contact</div>
                    <ul>
                        <li>9 Oklahoma St.</li>
                        <li>Palos Verdes Peninsula, CA 90274</li>
                        <li>(+3) 07-996-8947</li>
                        <li>support@areno.com</li>
                    </ul>
                </div>
                <div class="item two">
                    <div class="item__title">WORKING HOURS</div>
                    <ul>
                        <li>Mon – Sun</li>
                        <li>09.00 – 21.00</li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <div class="item__title">SERVICES</div>
                <ul>
                    <li>Assembly Guides</li>
                    <li>Furniture Packages & Fitouts</li>
                    <li>Trade Programme</li>
                    <li>Sale</li>
                    <li>New Designs</li>
                    <li>Gift Cards</li>
                </ul>
            </div>
            <div class="item">
                <div class="item__title">CONNECT</div>
                <ul>
                    <li>Twiter</li>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Pinterest</li>
                    <li>Jobs</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="item">
                <div class="item__title">GET HELP</div>
                <ul>
                    <li>Contact & FAQ</li>
                    <li>Track Your Order</li>
                    <li>Shipping & Delivery</li>
                    <li>Visit Brisbane Studio</li>
                    <li>Interest Free Finance</li>
                    <li>Cipmoney</li>
                </ul>
            </div>
        </div>
        <div class="sub__footer">
            <div class="logo__container">
                <img src="../../../assets//images/logo2.png" alt="">
            </div>
            <div class="icons">
                <div class="icon__container" svgIcon="Twitter - Negative" size="14"></div>
                <div class="icon__container" svgIcon="Instagram - Negative" size="14"></div>
                <div class="icon__container" svgIcon="Facebook - Negative" size="14"></div>
                <div class="icon__container" svgIcon="YouTube - Negative" size="14"></div>
            </div>
        </div>
    </div>
</footer>