.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: none;

    &.active {
        display: block;
    }
}

.side__cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70vw;
    max-width: 400px;
    min-width: 280px;
    height: 100vh;
    background: white;
    transition: .3s ease-in-out;

    &.active {
        right: 0;
    }
}